<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div>
  <%= link_to 'All Flats', flats_path, :class => "btn btn-primary" %> 
</div>

<div class="container">
<br>
  <p>Signed in as: <%= current_user.email %></p>
  <p>First name - <%= current_user.first_name %></p>
  <p>Second name - <%= current_user.last_name %></p>
</div>