<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>
    Hello world!
</h1>

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

  <div>
    <%= link_to 'All Flats', flats_path, :class => "btn btn-primary" %> 
  </div>